policy_module(container_sr, 1.0)

gen_require(`
        type container_file_t;
        type device_t;
')

container_domain_template(container_sr)


#============= container_sr_t ==============
allow container_sr_t container_runtime_t:unix_stream_socket connectto;
allow container_sr_t device_t:chr_file getattr;

